#inventory {
  cursor: pointer;
  background: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1000;
  .list {
    padding: 0;
    margin: 0;
    li {
      position: relative;
      color: #fff;
      display: inline-block;
      list-style: none;
      border: 3px solid green;
      width: 80px;
      height: 80px;
    }
  }
}

.inventory-item {
  height: 100%;
  max-width: 100%;
  width: auto;
  margin: auto;
}