html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  margin:0;
  @import url('https://fonts.googleapis.com/css?family=Schoolbell');
  font-family: 'Schoolbell', cursive;
}

#container {
  position: relative;
  margin: auto;
  height: 800px;
  width: 1200px;
  overflow: hidden;
}
