@mixin screen($background) {
  background: $background;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;

  img {
    width: 100%;
    height: auto;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
  }
}

.screen {
  @include screen(black);
}

.screen--start {
  @include screen(#a44ead);
}